<div ng-controller="productsController">
    <div class='inline'>
        <input type="text" ng-model="productSearch"> <br>
        <button ng-click="searchProduct()">Filter</button>
        <h3>Add a new product</h3>
        <form>
            Name: <br> 
            <input type="text" ng-model="newProduct.name" placeholder="name..."> <br>
            Image (url): <br>
            <input type="text" ng-model="newProduct.url" placeholder="http://"> <br>
            Description: <br>
            <textarea ng-model="newProduct.description"></textarea> <br>
            <select ng-model="newProduct.quantity">
                <option ng-init="for(var i = 1; i < 1000; i++){}">{{i}}</option>
            </select>
        </form>
    </div>
</div>